<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TPV.Properties.Settings>
            <setting name="DB_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_User" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Fiscal_PDV" serializeAs="String">
                <value />
            </setting>
            <setting name="Fiscal_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Fiscal_Model" serializeAs="String">
                <value />
            </setting>
            <setting name="TPV_Modulo" serializeAs="String">
                <value>1</value>
            </setting>
        </TPV.Properties.Settings>
    </userSettings>
</configuration>